Repository SFUAnime/Ren, pull requests merged in 2021-09, with the labels that each got.

#470 [Misc] Remove `paginator.py` and correct related cogs' docstring
  cogs/birthday/__init__.py
  cogs/highlight/__init__.py
  cogs/servermanage/__init__.py
  cogs/smartreact/__init__.py
  cogs/wordfilter/__init__.py
  cogs/wordfilter/wordfilter.py
  redbot/core/utils/paginator.py
Labels: refactor

#467 [Triggered] Use aiohttp instead of urllib
  cogs/triggered/triggered.py
Labels: refactor

#473 [Highlight] Remove hardcoded config calls
  cogs/highlight/highlight.py
Labels: refactor

#476 [Triggered] Use bytes IO instead of file IO to create "triggered" images
  cogs/triggered/triggered.py
Labels: enhancement, refactor

#481 [Welcome] Add description tagging to a user
  cogs/welcome/constants.py
  cogs/welcome/helpers.py
  cogs/welcome/welcome.py
Labels: enhancement

#498 [Respects] Use mentions and list members in a reverse chronological order
  cogs/respects/respects.py
Labels: refactor
