Repository SFUAnime/Ren, pull requests merged in 2023-01, with the labels that each got.

#601 [SFU] Modify Roads ctx typing call
  cogs/sfu/roads.py
Labels: bug

#605 [CI] Bump versions of `cogUnitTests` Python and actions
  .github/workflows/cogUnitTests.yml
Labels: refactor

#610 [SlashSync] Cog model restructure
  cogs/slashsync/commandHandlers.py
  cogs/slashsync/commandsCore.py
  cogs/slashsync/core.py
  cogs/slashsync/slashsync.py
Labels: refactor

#613 [Welcome] Change the emote for new user joins
  cogs/welcome/welcome.py
Labels: enhancement

#612 [Triggered] Cog model restructure
  cogs/triggered/__init__.py
  cogs/triggered/commandHandlers.py
  cogs/triggered/commandsCore.py
  cogs/triggered/core.py
  cogs/triggered/triggered.py
Labels: refactor
